.todo-container {
    margin:20px 0;
    padding:20px 0;
    width:600px;
  
    form {
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-bottom:20px;

        input {
            width:69%;
            min-width:320px;

            &.tags {
                width:240px;

            }
        }

        em {
            width:100%;
            font-size: 12px;
            margin:5px 0 10px 15px;
        }

        button[type="submit"] {
            padding: 5px 15px;
            width:100px;
            height:100px;
            border-radius:50%;
            margin-top:-67px;
            border:1px solid #092106;
            background-color: #279c18;
            color:#fff;
            font-size:54px;    
            
            &:active {
                box-shadow:10px 10px 50px #092106 inset;
            }
        }
    }
   

    .task-list {
        list-style: none;

        li {
            display:flex;            
            align-items: center;
            margin-bottom:5px;

            .task-item {
                display:inline-block;
                padding:5px 15px;
                flex-grow:2;
                background-color:transparent;
                border:1px solid #528f1d;
                border-radius:10px;
            }

            .edit-details {
                display:inline-block;
                background-color:blue;
                color:#fff;
                padding:5px 15px;
                font-size:16px;
                cursor:pointer;
                border:1px solid #092106;
            }

            .remove {
                display:inline-block;
                color:red;
                border-radius:50%;
                font-size:20px;
                cursor:pointer;
                margin-left:10px;
            }
        }
    }
}