* {
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    font-family:arial;
}

body {
    margin: 0;
}

header {
    display:flex;
    justify-content:space-between;
    padding:15px 50px;
    border-bottom:1px solid #ccc;
}